h1 {
  font-family: 'IBM PLex Mono', monospace;
}

h3 {
  font-family: 'IBM Plex Sans', sans-serif;
}


/* font-family: 'IBM Plex Sans Condensed', sans-serif;
font-family: 'IBM Plex Mono', monospace;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'IBM Plex Serif', serif; */
